<p>
  <strong>Organisation:</strong> <%= host.organisation %><br>
  <strong>Bio:</strong> <%= host.bio %><br>
  <strong>Website:</strong> <%= host.website %><br>
  <strong>Contact Number:</strong> <%= host.number %>
</p>
