<h1>Welcome to Event Manager</h1>

<p>Are you a:</p>
<%= link_to "Host", new_host_session_path %><br>
<%= link_to "Participant", new_participant_session_path %><br>
<%= link_to "Sign up as Participant", new_participant_registration_path %>
